@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
.banner-container h1{
    font-weight: 800;
}
.banner-container h1 span {
    color: #9873FF;
}

.banner-container p {
    font-size: 18px;
    font-style: normal;
}

.btn-primary {
    border-radius: 8px;
    background: var(--Linear, linear-gradient(90deg, #7E90FE 0%, #9873FF 100%));
}
/* ---------------------- */
