/* nav{
    margin-left: 100px;
    margin-right: 100px;
} */
nav h2 {
    color: #7E90FE;
    border-color: #7E90FE;
}

.nav-link a {
    margin-left: 20px;
    display: flex;
    /* background-color: #7e8ffe3b; */

}

.btn-Apply {
    border-radius: 10px;
    background: var(--Linear, linear-gradient(90deg, #7E90FE 0%, #9873FF 100%));
}