.details-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    text-align: left;
    line-height:32px;
}
.details p small{
    display: flex;
    align-items: center;
    gap: 5px;
 /* display: grid; */
    
} 